{% extends "base.html"%}

{% block content %}

    <!-- header ends here -->
    <div class="container-xl mx-auto aboutus">
        <h1 class="main-title"> {{about.heading}}</h1>
        <h2 class="main-subtitle">{{about.subheading}}</h2>
        <h3 >Bread, Cakes, Pastries, Specialty Cakes, & more!</h3>
        <!-- {{about.content}} -->
        <p>Hi and welcome,</p>

           <p> So you were curious and decided to check us out. Thank you.</p>
            
           <p> Vienna Bakery began in Edmonton in 1959 located next to Jasper Place Meats along Stony Plain road and about 151 street. We relocated to our previous “off Whyte” space in the early 1990s. Our story might have ended there once Bernie and Brigitte Jaeger (my parents) decided to retire. I was looking at other career opportunities and had left baking behind me for a while.
           </p>
            
           <p> It was during my time at another bakery that I decided to re-enter the bakery world, but this time as an owner. Along with the support of many close friends and family I had purchased a part of Bagel Bin bakery in 2008. At the time, we were only a wholesale bakery and quickly realized the potential to bring great baking back to Edmonton for everyone. We moved again and opened up a small retail space where we could share many of the traditional recipes from Vienna Bakery’s history.
           </p>
           <p> Together, with our great Vienna Bakery family, we enjoy bringing you our favourite breads, pastry, cakes, and much more.
           </p>
           <p> Great times are often centered on great food. We want to do our best to bring this to you.
        </p>
           <p> Thanks for stopping and shopping with us.
        </p>
           <p> Wishing you a great day,
            
            </p>
            <h3>{{about.author}}</h3>
            {{about.footnote}}
    </div>












    <!-- footer starts here -->
    {%endblock%}