{% extends "base.html"%}

{% block content %}

    <!-- header ends here -->







    <div class="container-xl">
        <h1 class="main-title"> Contact Bakery</h1>
        <h2 class="main-subtitle">"YOUR BREAD, CAKE, AND PASTRY BAKERY IN EDMONTON, AB"</h2>
        <h3> wholesale pricing available</h3>
        <div class="row contactrow">
            <div class="col-md-3 contactboxes">
                <div class="contacttitle">
                    <div class=" mx-auto text-center contactlogo"><div class="contactlogo2"><i class="fas fa-map-marker-alt"></i></div></div>
                    <h3 class="text-center">address</h3>
                    <h4 class="text-center">54827 - 37 Avenue , THECITYOFIT, AB YTF - 3G5</h4>
                </div>
            </div>
            <div class="col-md-3 contactboxes">
                <a href="tel:+918219168601">
                    <div class="contacttitle">
                        <div class="mx-auto text-center contactlogo"><div class="contactlogo2"><i class="fas fa-phone-alt"></i></div></div>
                        <h3 class="text-center">phone</h3>
                        <h4 class="text-center">(750)-456-854</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-3 contactboxes">
                <a href="mailto:sample.mail.ak@gmail.com">
                    <div class="contacttitle">
                        <div class="mx-auto text-center contactlogo"><div class="contactlogo2"><i class="fas fa-envelope"></i></div></div>
                        <h3 class="text-center">email</h3>
                        <h4 class="text-center">bakery@gmail.com</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-3 contactboxes">
                <div class="contacttitle">
                    <div class="mx-auto text-center contactlogo"><div class="contactlogo2"><i class="fas fa-clock"></i></div></div>
                    <h3 class="text-center">business hours</h3>
                    <h4 class="text-center">Mon To Fri: 8 AM to 5 PM | Sat 8 AM to 4 PM | Sun : Closed</h4>
                </div>
             </div>
        </div>    
    </div>









    <!-- footer starts here -->
    {%endblock%}