{% extends "base.html"%}
{%load static%}
{% block content %}

    <!-- header ends here -->


    <figure class="rel">
        <img class="img-fluid" src="{%static 'images/2429502_1600x0.jpg'%}" alt="bannner">
        <div class="abs2 text-center">
            <h1 class="main-title">pastries</h1>
            <h2 class="main-subtitle ">bread bakery in edmonton ab</h2>
        </div>
    </figure>
    <div class="mx-auto text-center ">
        <h3 class="footer3">Cream Puff | Apple Slice | Rum Balls</h3>
    </div>

    <!-- figure ends here -->

    <div class="container text-center mx-auto">
        <div class="row text-center">
    
            {% for x in pastries %}
            <div class="col-lg-4">
                <figure>
                    <a href="#"><img class="img-fluid products" src="{{x.image.url}}" alt="product image"></a>
                </figure>
                <div class=" text-center product-description footer3">
                    <h4>{{x.product_name}}</h4>
                    <a href="/detail/{{x.id}}/"><button>shop now</button></a>
                </div>    
            </div>
            {% endfor %}
        </div>
    </div>
    










    <!-- footer starts here -->
    {%endblock%}